/* Responsividade - Mobile (Celular) */

@media screen and (max-width: 480px) {
    /* Todo corpo da Página */
    body {
        width: 100%;
        height: 100%;
    }

    
    /* Topo da Página */
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;
    }

    .logo-container {
        margin-left: 5px;
        margin-right: 0px;
    }

    .logo-container img {
        width: 33px;
        height: 30px;
    }

    .logo-container h1 {
        font-size: 18px;
    }

    /* Menu Desktop */
    .desktop-menu {
        display: none;
    }


    /* Menu Mobile */
    .open-menu-button i {  /* Botão Abrir Menu Mobile */
        display: block;
        font-size: 30px;
        margin: 0;
        margin-right: 5px;
        color: #000000;
    }

    .mobile-menu {  /* Estrutura do Menu Mobile */
        display: block;
        width: 0%;
        height: 100%;
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 99999;
        overflow: hidden;
        transition: 0.3s;
        background-color: #f53838;
    }

    /* Ação do Javascript no Menu Mobile */
    .mobile-menu.abrir-menu {  /* Classe (abrir-menu) Criada no Javascript para Abrir o Menu na Versão Mobile */
        width: 60%;
    }

    .mobile-menu.abrir-menu ~ .overlayMenu {  /* Adicionando e Habilitando o Efeito da Classe overlay-menu ao Abrir o Menu Mobile */
        display: block;
    }

    .mobile-menu .closed-button {  /* Estrutura do Botão Fechar Menu Mobile */
        margin-left: 15px;
        margin-top: 15px;
    }

    .mobile-menu .closed-button i {  /* Botão Fechar Menu Mobile */
        font-size: 25px;
        color: white;
    }

    .mobile-menu>nav>ul {  /* Lista com as Opções do Menu Mobile */
        text-align: right;
    }

    .mobile-menu>nav>ul>li>a {  /* Especificamente Configurações nas Opções/Links */
        color: #F8F8F8;
        padding: 15px 20px;
        display: block;
    }

    .mobile-menu>nav>ul>li>a:hover {
        background-color: white;
        color: #4F5665;
    }

    .overlayMenu{  /* Efeito para Escurecer a Tela ao Abrir o Menu Mobile */
        background-color: #f538383d;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 88888;
        display: none;
    }


    /* Botões do Topo da Página */
    .access-container {
        gap: 15px;
    }

    .access-container :last-child {
        width: 85px;
        height: 35px;
    }


    /* Sobre o Hero da Página */
    .about-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .section-content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .about-container img {
        width: 350px;
    }

    .section-content h2 {
        width: 340px;
        font-size: 28px;
        margin-top: 0px;
    }

    .section-content p {
        width: 340px;
    }

    .section-content button {
        margin-top: 40px;
    }

    
    /* Seção de informação */
    .info-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 110px;
        margin-bottom: 110px;
        gap: 30px;
    }

    .info-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    
    .info-div img {
        width: 40px;
        height: 40px;
        margin-bottom: 15px;
        margin-right: 0px;
    }
    
    .info-div p {
        font-size: 18px;
    }
    
    .info-div span {
        font-size: 20px;
    }
    

    /* Seção de Features */
    /* Titulo e Paragrafo */
    .features-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 0;
        margin-top: -20px;
        margin-bottom: 150px;
    }

    .features-container img {
        width: 350px;
        height: 400px;
    }

    .feat-div-title-par h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .feat-div-title-par p {
        width: 340px;
        margin-bottom: 30px;
    }

    /* Features - Afirmações */
    .feat-div-afirmatives {
        display: flex;
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 16px;
    }

    .feat-div-afirmatives img {
        width: 24px;
        height: 24px;
    }


    /* Seção de Planos */
    .plan-container {   /* Seção geral que pega desde o titulo aos cards */  
        text-align: center;
        width: 100%;
        margin-bottom: 150px;
    }
    
    .plan-container h2 {   /* Titulo da seção - Choose Your Plan */
        font-size: 28px;
        margin-bottom: 20px;
    }
    
    .plan-container p {
        width: 100%;
    }
    
    .div-cards-geral {   /* Seção que pega todos os cards */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 50px;
        gap: 20px
    }
    
    .div-card-unitary {   /* Seção dos cards - unitarios - Parte de dentro dos cards */
        width: 330px;
        height: 550px;
        text-align: center;
    }

    .div-card-unitary > img {
        width: 125px;
        height: 145px;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .div-card-unitary h3 {
        margin-bottom: 15px;
    }
    
    /* Seção das informações de dentro dos cards (Parte das opções)*/
    .div-cards-info {
        width: 320px;
    }

    .div-cards-info p {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 18px;
    }
    
    /* Volta para fora da seção das opções - seção do plano (valor) e botão */
    
    .plan-free-button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        text-align: center;
        margin-top: 70px;
    }
    
    .plan-9-button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-top: 35px;
    }   
    
    .plan-12-button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-top: 0px;
    }
    
    .div-card-unitary button {
        width: 165px;
    }

    .div-card-unitary button:hover {
        background-color: #F53838;
        color: white;
        box-shadow: inset 0 0 0px, 0px 20px 15px -8px rgba(245, 56, 56, 0.45);
        transition: 0.3s;
    }
    
    .div-card-unitary button:not(:hover) {
        transition: 0.1s;
    }


    /* Seção de Mapa VPN */
    .world-map-container {
        width: 100%;
        margin-bottom: 70px;
    }
    
    .world-map-container h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .world-map-container p {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .world-map-container img {
        width: 370px;
        height: 300px;
    }


    /* Seção de Empresas que Utilizam o Serviço */
    .companies-logos-container {
        display: none;
    }


    /* Seção de comentarios */
    .comments-container {   /* Seção inteira da parte dos comentários */
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .comments-container h2 {
        font-size: 28px;
    }
    
    .cards-container {
        display: flex;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
        gap: 30px;
    }
    
    
    /* Seção dos cards em si */
    .comments-cards {
        width: 380px;
        height: 280px;
    }
    
    
    /* Seção das informações de dentro dos cards*/
    
    .top-part {   /* Seção que engloba a parte de cima do card dos comentarios */
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        margin-top: 20px;
        margin-bottom: -20px;
        margin-left: 20px;
        gap: 10px;
    }
    
    .commentator-information {   /* Parte da imagem, nome e local do comentário */
        display: flex;
        justify-content: space-around;
        gap: 20px;
        margin: 0;
        flex-wrap: wrap;
    
    }
    
    .assessment {   /* Parte da Avaliação */
        display: flex;
        gap: 10px;
        margin: 0;
        margin-right: 20px;
    }
    
    /* Paragrafo do comentario da pessoa */
    .comment {
        width: 280px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0px;
    }
    
    /* Parte da seleção dos comentarios (seletor que mostra a parte atual selecionada dos mentarios e setas) */
    .comment-select {
        display: flex;
        justify-content: center;
        margin-top: 35px;
        margin-left: 20px;
        margin-right: 20px;
        gap: 150px;
    }

    .comment-select img {
        width: 100px;
        margin: 0;
    }

    /* Botão das setas da parte dos comentarios */
    .buttons-comments-sets>button>i {
        font-size: 45px;
    }


    /* Seleção entre o final da pagina e o footer */
    .subscribe-container {
        width: 100%;
        height: 300px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        position: static;
        transform: translate(0%, 0%);
        top: 0%;
        left: 0%;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 0px;

        box-shadow: none;
    }

    .div-subscribe-title-parag {
        margin-top: 0px;
    }

    .div-subscribe-title-parag h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .div-subscribe-title-parag p {
        font-size: 16px;
    }

    .subscribe-container button {
        margin-top: 0px;
        margin-bottom: 30px;
    }


    /* Rodapé da Pagina */
    footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    /*  Primeira parte do rodapé */
    .company-information {
        margin-top: 40px;
        margin-bottom: -160px;
    }

    .company-information>.logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .social-midias-logos {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }


    /* Segunda parte do rodapé (opções de links) */
    .div-footer-options {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0;
        margin-top: 0px;
        margin-bottom: 10px;
        gap: 20px; 
    }

    .div-product {
        margin: 0px;
    }

    .div-engage {
        margin: 0px;
    }

    .div-earn-money {
        margin: 0px;
    }
}